# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
# sphinx_rtd_theme
nibabel>=3.2.1
numpy>=1.22.0
click>=8.0.1
rich>=12.4.4
mypy>=0.971
pyyaml>=6.0